* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    justify-content: center;
    align-items: center;
}

header {
    background: #000;
    padding: 20px 110px;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: -100px; /* Inicia oculto */
    transition: top 0.3s;
}

.button-submit {
    background-color: #000;
    color: #FFFFFF;
    padding: 10px 40px;
    font-size: 25px;
    border: 2px solid #FFFFFF;
    box-shadow: 2px 2x 2px black;
    border-radius: 10px;
    margin-right: 10px;
}

.button-signin {
    background-color: #4c5fd5;
    color: #FFFFFF;
    padding: 10px 40px;
    font-size: 25px;
    border-radius: 10px;
    margin-left: 10px;
}

.button-signin:hover {
    background-color: #fff;
    color: #000;
}

.hero {
    display: flex;
    flex-direction: column;
    background: #dadbf1;
    height: 60%;
    font-size: 40px;
    margin: 0 auto;
    padding: 130px 170px;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 115px;
}
.container6{
    padding-top: 130px;
    display: flex;
    flex-wrap: wrap;
    max-width: 1500px;
    margin: 0 auto;
}

.info{
    display: flex;
    width: 50%;
    padding: 10px;
    position: relative;
    margin-bottom: 3rem;
    padding-right: 15px;
    justify-content: space-between;
}

.icono{
    display: flex;
    padding-right: 50px;
    flex-direction: column;
    width: 150px;
    height: auto;
}

.texto{
    position: relative;
    padding: 0 1.5rem 0 0;
    width: 90%;
    color: #191a1b;
    transition: all .3s ease;
    z-index: 2;
}

.titulo{
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    color: inherit;

}

.descripcion{
    padding-top: 18px;
    font-size: 24px;
    font-weight: 32px;
    margin-bottom: 32px;

}

.search-box {
    background-color: white;
    border: 1px solid black;
    padding-left: 10px;
    width: 700px;
    height: 60px;
    font-size: 16px;
    color: black;
    margin-top: 20px;
    border-radius: 5px;
}


.logo {
    font-size: 25px;
    font-weight: 300px;
    color: #FFFFFF;
    text-decoration: none;
}

.item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 3rem;
    padding-right: 15px;
    width: 100%;
}

.item-icon {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.item-text {
    position: relative;
    padding: 0 1.5rem 0 0;
    width: 100%;
    color: #191a1b;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.item-desc {
    font-size: 24px;
    line-height: 32px;
}

.link{
    font-size: 20px;
    line-height: 28px;
    color: #4C5FD5;
    line-height: 32px;
    font-weight: 400;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: #000;
    text-decoration: none;
}

footer {
    background-color: #000;
    position: relative;
}

.container-footer {
    width: 100%;
    display: flex;
    flex-flow: row;
    padding-bottom: 150px;
    padding-right: 90%;
    color: white;
    background-color: #000000;
    font-family: 'GT America Standard', sans-serif;
    font-size: 16px;
    font-weight: 200;
    line-height: 24px;
    text-align: left;
    
}

.footer-title {
    color: #fff;
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-column {
    width: 80%;
    flex: 30%;
    margin-right: 0px;
    text-align: left;
    margin-left: 70px;
    margin-top: 50px;
    padding-right: 10px;
}

.container-footer a {
    color: white;
    display: block;
}

.legal{
    margin-bottom: 30px;
}

strong{
    color: #fff;
}

.contact-us{
    color: #fff;
}

.footer-column-copyright {
    font-size: 20px;
    position: absolute;
    right: 80px;
    bottom: 60px;
}

.button-help{
    position: absolute;
    background-color: #4c5fd5 ;
    color: #FFFFFF;
    padding: 12px 24px;
    font-size: 14px;
    border-radius: 20px;
    right: 10px;
    bottom: 10px;
    font-weight: bold
}